<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner</title>

    <link rel="stylesheet" href="../public/css/scan.css">
</head>
<div class="navigation">
    <div id="doc-id">
        <p class="id-details">
            ID 150024
        </p>
    </div>
    <div class="doc-img-container">
        <img class="doc-img" src="../public/images/doc-img.JPG" alt="Doctor's Image">
    </div>
</div>

<div class="scanner">
    <img src="../public/images/scan 1.svg" alt="Scanner Image">
</div>

<div class="report-link-container">
    <a class="report-link" href="">Report Abuse</a>
</div>

<body>

</body>

</html>